<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154790314705-2k090ct47g8a46g6g44p42jr6jmvefa5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154790314705-2k090ct47g8a46g6g44p42jr6jmvefa5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154790314705-jbemdun30in6srmc9nvh6u1qs623rpeg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBo48R48RNu9HKeMPOfTLk0uHDAp3_A7r0</string>
	<key>GCM_SENDER_ID</key>
	<string>154790314705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuyuspahk.yuyuspa</string>
	<key>PROJECT_ID</key>
	<string>yuyu-spa</string>
	<key>STORAGE_BUCKET</key>
	<string>yuyu-spa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154790314705:ios:df1a8a04499fe914d23bf0</string>
</dict>
</plist>